mat-card {
  margin: 1em 0;
}

.article-title:hover {
  cursor: pointer;
}

.article-title {
  font-size: 18px;
}

.article-menu {
  position: absolute;
  right: 6px;
  top: 6px;
}

.article-categories {
  margin: 0.5em 0;
}

mat-chip {
  font-size: 12px;
}

.article-authors {
  display: inline-block;
  margin-top: 2em;
}

.article-date {
  display: inline-block;
  position: absolute;
  right: 18px;
  bottom: 18px;
}

.paging {
  text-align: center;
  padding-top: 1em;
}

.paging span {
  display: inline-block;
  width: 120px;
}
