<mat-accordion>
  <mat-expansion-panel *ngFor="let article of articles">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ article.title }}
      </mat-panel-title>
      <mat-panel-description>
        {{ article.authors }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    {{ article.publishedAt | date }}
    <button mat-raised-button color="primary" name="{{ article.title }}" [routerLink]="['/home/articleDetail', article.id]" [state]="{ id: article.id }">Primary</button>
  </mat-expansion-panel>
</mat-accordion>
<br>
<span>{{ titleName }}</span>
