<button mat-raised-button color="primary"(click)="updateArticles(-10)">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>
<button mat-raised-button color="primary" (click)="updateArticles(10)">
  <mat-icon>keyboard_arrow_right</mat-icon>
</button>
<span>{{ lower }} - {{ upper }} / {{ numberOfArticles }}</span>
<mat-accordion>
  <mat-expansion-panel *ngFor="let article of articles">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ article.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p> {{ article.publishedAt | date }} </p>
    <p> {{ 'Author: ' + displayUsers(article.authors) }} </p>
    <button mat-raised-button color="primary" name="{{ article.title }}" [routerLink]="['/home/articleDetail', article.id]" [state]="{ id: article.id }">Read</button>
  </mat-expansion-panel>
</mat-accordion>
<br>
<span>{{ titleName }}</span>
