<div *ngFor="let article of articles">

  <mat-card>
    <mat-card-content>
      <span class="article-title" (click)="router.navigate(['/home/articleDetail', article.id])">{{article.title}}</span>

      <div class="article-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Add to collection</span>
          </button>
        </mat-menu>
      </div>

      <div class="article-categories">
        <mat-chip-list>
          <mat-chip *ngFor="let category of article.categories">{{category.name}}</mat-chip>
        </mat-chip-list>
      </div>

      <div class="like-count" mat-ripple (click)="likeArticle(article)">
        <mat-icon>{{article.liked ? 'favorite' : 'favorite_border'}}</mat-icon>
        <span>{{article.likeCount}} likes</span>
      </div>

      <div class="article-authors">
        <span>By </span>
        <a *ngFor="let author of article.authors" [routerLink]="['/home/userDetail', author.id]">{{author.firstName + ' ' + author.lastName + ' '}}</a>
        <span>for {{article.publisher.name}}</span>
      </div>

      <div class="article-date">
        <span>{{ article.publishedAt | date }}</span>
      </div>

    </mat-card-content>
  </mat-card>

</div>

<div class="paging" *ngIf="articles">
  <button mat-icon-button (click)="updateArticles(-10)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <span>{{ lower }} - {{ upper }} / {{ numberOfArticles }}</span>

  <button mat-icon-button (click)="updateArticles(10)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
