<mat-card>
  <mat-card-content>
    <div>
      <span class="leftPart">{{'name' | translate}} :</span>
      <span class="rightPart" *ngIf="appUser">{{appUser.firstName}} {{appUser.lastName}}</span>
    </div>
    <div>
      <span class="leftPart">{{'registered' | translate}} :</span>
      <span class="rightPart" *ngIf="appUser">{{appUser.createdAt | date:'mediumDate'}}</span>
    </div>
    <div>
      <span class="rolesLeftPart">{{'roles' | translate}} :</span>
      <div class="rolesRightPart">
        <mat-chip-list *ngIf="appUser">
          <mat-chip *ngFor="let role of appUser.roles">{{role}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-divider></mat-divider>
<app-article-list *ngIf="isWriter" [writer]="appUser" [enableFilter]="false" [enablePaging]="true"></app-article-list>
