<mat-card>
  <mat-card-content>
    <div>
      <span class="leftPart">Name :</span>
      <span class="rightPart" *ngIf="appUser">{{appUser.firstName}} {{appUser.lastName}}</span>
    </div>
    <div>
      <span class="leftPart">Registered :</span>
      <span class="rightPart" *ngIf="appUser">{{appUser.createdAt | date:'mediumDate'}}</span>
    </div>
    <div style="height: 50px">
      <span class="rolesLeftPart">Roles :</span>
      <div class="rolesRightPart">
        <mat-chip-list *ngIf="appUser">
          <mat-chip *ngFor="let role of appUser.roles">{{role}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<br>
<app-article-list *ngIf="isWriter" [writer]="appUser" [enableFilter]="false" [enablePaging]="false"></app-article-list>
