div {
  padding: 7px;
  height: 30px;
}

.part {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.leftPart {
  .part();
  float: left;
}

.rightPart {
  .part();
  float: right;
}

.rolesLeftPart {
  .part();
  float: left;
}

.rolesRightPart {
  .part();
  float: right;
}

.mat-chip {
  font-size: 12px !important;
  margin-top: -8px !important;
}

.articleTitle {
  float: left;
}

.articleDate {
  float: right;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
}
