div {
  padding: 10px;
  height: 30px;
}

.part {
  line-height: 30px;
  vertical-align: middle;
  padding-left: 30px;
  font-size: 18px;
}

.leftPart {
  .part();
  float: left;
}

.rightPart {
  .part();
  float: right;
}

.rolesLeftPart {
  .part();
  line-height: 50px;
  float: left;
}

.rolesRightPart {
  .part();
  line-height: 50px;
  float: right;
}

.articleTitle {
  float: left;
}

.articleDate {
  float: right;
}

