div {
  padding: 5px;
  height: 30px;
}

.part {
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.leftPart {
  .part();
  float: left;
}

.rightPart {
  .part();
  float: right;
}

mat-divider {
  margin-top: 1em;
  margin-bottom: 1em;
}
