<div>
  <span class="error-message" *ngIf="insertArticleError">Could not insert article.</span>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <input matInput formControlName="categories">
    </mat-form-field>
    <br>
    <mat-form-field class="article-content">
      <mat-label>Content</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="30"
                formControlName="content"></textarea>
    </mat-form-field>

    <div>
      <button mat-button type="submit" class="submit-button">Publish</button>
    </div>
  </form>
</div>
