<div class="article-detail-wrapper" *ngIf="article">
  <div class="article-header">
    <h1 class="article-title">{{ article.title }}</h1>

    <div class="article-categories">
      <mat-chip-list>
        <mat-chip *ngFor="let category of article.categories">{{category.name}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="article-authors">
      <span>By </span>
      <a *ngFor="let author of article.authors"
         [routerLink]="['/home/userDetail', author.id]">{{author.firstName + ' ' + author.lastName + ' '}}</a>
      <span *ngIf="article.publisher.id"> for </span>
      <a *ngIf="article.publisher.id"
         [routerLink]="['/home/publisherDetail', article.publisher.id]">{{article.publisher.name}}</a>
    </div>

    <div class="article-date">
      <span>{{ article.publishedAt | date:'medium' }}</span>
    </div>

    <div class="article-menu" *ngIf="actions">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let action of actions" (click)="actionClick(action.action)">
          <span>{{action.label}}</span>
        </button>
      </mat-menu>
    </div>

    <div class="like-count" mat-ripple (click)="likeArticle()">
      <mat-icon>{{article.liked ? 'favorite' : 'favorite_border'}}</mat-icon>
      <span>{{article.likeCount}} likes</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="article-content" [innerHTML]="article.content"></div>

  <div class="comments" *ngIf="article.comments.length > 0">
    <h2>Comments</h2>

    <div *ngFor="let comment of article.comments" class="comment">
      <a class="comment-author"
         [routerLink]="['/home/userDetail', comment.author.id]">{{comment.author.firstName}} {{comment.author.lastName}}</a>
      <span> says:</span>
      <p class="comment-content">{{comment.content}}</p>
      <mat-divider></mat-divider>
    </div>

    <form class="new-comment" [formGroup]="commentForm" (ngSubmit)="insertComment()">
      <div>
        <mat-form-field>
          <mat-label>Say something</mat-label>
          <input matInput formControlName="comment">
        </mat-form-field>
      </div>
      <button mat-button type="submit" class="submit-button">Add Comment</button>
    </form>
  </div>
</div>
