<div class="article-detail-wrapper">
  <h1>{{ article.title }}</h1>

  <div class="article-authors">
    <span>By </span>
    <a *ngFor="let author of article.authors" [routerLink]="['/home/userDetail', author.id]">{{author.firstName + ' ' + author.lastName + ' '}}</a>
    <span>for {{article.publisher || 'publisher'}}</span>
  </div>

  <div class="article-date">
    <span>{{ article.publishedAt | date:'medium' }}</span>
  </div>

  <div class="article-content">

  </div>

  <div class="article-content" [innerHTML]="article.content"></div>
</div>
