<div class="article-detail-wrapper" *ngIf="article">
  <div class="article-header">
    <h1 class="article-title">{{ article.title }}</h1>

    <div class="article-categories">
      <mat-chip-list>
        <mat-chip *ngFor="let category of article.categories">{{category.name}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="article-authors">
      <span>{{'by' | translate}} </span>
      <a *ngFor="let author of article.authors"
         [routerLink]="['/home/userDetail', author.id]">{{author.firstName + ' ' + author.lastName + ' '}}</a>
      <span *ngIf="article.publisher.id"> for </span>
      <a *ngIf="article.publisher.id"
         [routerLink]="['/home/publisherDetail', article.publisher.id]">{{article.publisher.name}}</a>
    </div>

    <div class="article-date">
      <span>{{ article.createdAt | date:'medium' }}</span>
    </div>

    <div class="article-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="actions">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let action of actions">
          <button mat-menu-item *ngIf="!action.triggerMenu" (click)="actionClick(action.action)">
            <span>{{action.label | translate}}</span>
          </button>
          <button mat-menu-item *ngIf="action.triggerMenu" [mat-menu-trigger-for]="action.triggerMenu" (menuOpened)="actionClick(action.action)">
            <span>{{action.label | translate}}</span>
          </button>
        </div>
      </mat-menu>

      <a #downloadPdfLink [href]="pdfFileUrl" [download]="article.title.split(' ').join('-') + '.pdf'" style="display: none"></a>

      <mat-menu #collectionsMenu="matMenu">
        <button mat-menu-item *ngFor="let collection of collections" (click)="assignToCollection(collection)">
          <span>{{collection.title}}</span>
        </button>
        <button mat-menu-item (click)="newCollection()">
          <mat-icon>add</mat-icon>
          <span>{{'newCollection' | translate}}</span>
        </button>
      </mat-menu>

    </div>

    <div class="like-count" mat-ripple (click)="likeArticle()">
      <mat-icon>{{article.liked ? 'favorite' : 'favorite_border'}}</mat-icon>
      <span>{{article.likeCount}} {{'likes' | translate}}</span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="article-content" [innerHTML]="article.content"></div>

  <div class="comments">
    <h2>{{'comments' | translate }}</h2>

    <div *ngIf="article.comments.length > 0">
      <div *ngFor="let comment of article.comments" class="comment">
        <a class="comment-author"
           [routerLink]="['/home/userDetail', comment.author.id]">{{comment.author.firstName}} {{comment.author.lastName}}</a>
        <span> {{'says' | translate }}:</span>
        <p class="comment-content">{{comment.content}}</p>
        <mat-divider></mat-divider>
      </div>
    </div>

    <form class="new-comment" [formGroup]="commentForm" (ngSubmit)="insertComment()">
      <div>
        <mat-form-field>
          <mat-label>{{'add_comment_text' | translate}}</mat-label>
          <input matInput formControlName="comment">
        </mat-form-field>
      </div>
      <button mat-button type="submit" class="submit-button">
        {{'add_comment_btn' | translate}}
      </button>
    </form>
  </div>
</div>
