<mat-toolbar>
  <mat-icon class="icon" aria-hidden="false" svgIcon="publisher_logo"></mat-icon>

  <span [routerLink]="['/home/articleList']">A3cle Publisher</span>

  <span class="spacer"></span>

  <div *ngIf="currentUser" class="current-user">
    <span>{{currentUser.firstName}} {{currentUser.lastName}}</span>
  </div>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/home/login']">
      <span>Login</span>
    </button>
    <button mat-menu-item [routerLink]="['/home/login']" (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
