/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:link {
  text-decoration: none;
  color: lightgray;
}

a:visited {
  text-decoration: none;
  color: lightgray;
}

a:hover {
  text-decoration: underline;
  color: lightgray;
}

a:active {
  text-decoration: underline;
  color: lightgray;
}

.snackbar-error {
  background: #f44336;
  color: whitesmoke;
}

.snackbar-success {
  background: #4caf50;
  color: whitesmoke;
}

.snackbar-info {
}
